<%-include('plantilla/Cabeza.ejs', {Titulo: 'Inicio'}); %>
<body>
  <div class="container-fluid">
    <div class="abs-center">
      <form class="border p-3 form" method="POST" action="/validar">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Usuario</label>
          <input type="text" required name="usuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escriba Nombre de Usuario">
            
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" required name="password" class="form-control" id="exampleInputPassword1" placeholder="Escriba su Password">
        </div>
        <button type="submit" class="btn btn-primary" id="boton">Validar</button>
      </form>
    </div>
  </div>
  <script>
    document.getElementById("exampleInputEmail1")=""
    document.getElementById("exampleInputPassword1")=""
    function FullScreenSupportEnabled() {
    return (document.fullscreenEnabled || 
            document.webkitFullscreenEnabled || 
            document.mozFullScreenEnabled ||
            document.msFullscreenEnabled);
}
    function SetFullScreen(elto) {
    //Si no se soporta la API, ya ni lo intentamos
    if (!FullScreenSupportEnabled()) return;
    //Se prueba la variante apropiada según el navegador
    try {
        if (elto.requestFullscreen) {    //Empezando por la estándar
            elto.requestFullscreen();
        } else if (elto.webkitRequestFullscreen) {    //Webkit (Safari, Chrome y Opera 15+)
            elto.webkitRequestFullscreen();
        } else if (elto.mozRequestFullScreen) {    //Firefox
            elto.mozRequestFullScreen();
        } else if (elto.msRequestFullscreen) {    //Internet Explorer 11+
            elto.msRequestFullscreen();
        }
    }
    catch(ex) {
        return false;
    }
    return true;
}
var boton=document.getElementById("boton")
boton.addEventListener("click",()=>{
                SetFullScreen( document.getElementById("boton") );
            });
  </script>
</body>
</html>