<%-include('plantilla/sedes.ejs', {Titulo: 'Sede Buenos Aires'}); %>
<link rel="shortcut icon" href="/public/globo.gif" type="image/x-icon">
<style>
    .r{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .rep{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        }
        .rep2{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
                  
    </style>
<body>
    <div class="container-fluid">
        <div class="abs-center" id="ir" >
            <div style="align-self: center"  >
            <h1  style="text-align: center" >PERSONERÍA</h1>
            <button name="nombre" value="paola" class="r" ><img src="/public/fotos/Paola Andrea Sierra11-01 per.jpg" class="r"></button> 
            <h4>Paola Andrea Sierra 11-01</h4> 
            <button name="nombre" value="karla" class="r"><img src="/public/fotos/Karla Buelvas 11-02 per.jpg" class="r"></button>
            <h4>Karla Buelvas 11-02</h4>
            <button name="nombre" value="Freddy" class="r"><img src="/public/fotos/Freddy Guardo 11-03 per.jpg" class="r"></button>
            <h4>Freddy Guardo 11-03</h4>
        </div>
        <br>
    </div>
        <div id="consejo" style="background-image:url('/public/fondo1.png');">
            <form action="/consejo4" method="POST">
            <table style="width: 100%;height: 90vh;">
                <h1 style="text-align: center">CONSEJO ESTUDIANTIL</h1>
                <thead style="align-self: center; text-align: center;">
               </thead>
                <tbody>
                  <tr style="text-align: center; align-items: center;">
                    <td>3</td>
                    <td><button name="nombre" value="Ruben" class="rep"><img src="/public/fotos/Monte Carlos/Ruben Serrano  3-01 Buenos Aires.jpg" class="rep2" ></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Ruben Serrano</td></tr>
                    </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>4</td>
                    <td><button name="nombre" value="Lesly" class="rep"><img src="/public/fotos/Monte Carlos/Lesly Sofia Perez 4-01 Buenos aires.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Lesly</td></tr>    
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>5</td>
                    <td><button name="nombre" value="Danelys" class="rep"><img src="/public/fotos/Monte Carlos/Danelys Sofia Torres 5-01 Buenos Aires.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Isabela" class="rep"><img src="/public/fotos/Monte Carlos/Isabella Ramos Gonzalez 5-02 Buenos Aires.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Danelys 5-01</td><td>Isabella 5-02</td></tr>    
                </tr>
                
            </tbody>
        </table>
    </form>
 </div>
    </div>
<script>
    let boton = document.getElementsByClassName("r")
    const req = new XMLHttpRequest()
   boton[0].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=paola");
 window.location.href = "#consejo";
    })
boton[1].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=karla");
 window.location.href = "#consejo";
    })
    boton[4].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=freddy");
 window.location.href = "#consejo";
    })
let audio= new Audio()
    audio.src = "/Public/Publico.mp3"
    audio.play()

</script>
</body>