<%-include('plantilla/sedes.ejs', {Titulo: 'Sede Monte Carlos'}); %>
<link rel="shortcut icon" href="/public/globo.gif" type="image/x-icon">
<style>
    .r{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
       
    }
    .rep{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        }
        .rep2{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
                  
    </style>
<body>
<div class="container-fluid">
    <div class="abs-center" id="ir" >
            <h1  style="text-align: center" >PERSONERÍA</h1>
        <div style="align-self: center;display: inline;">
            <button name="nombre" value="paola" class="r" ><img src="/public/fotos/Paola Andrea Sierra11-01 per.jpg" class="r"></button> 
            <h4>Paola Andrea Sierra 11-01</h4> 
            <button name="nombre" value="karla" class="r"><img src="/public/fotos/Karla Buelvas 11-02 per.jpg" class="r"></button>
            <h4>Karla Buelvas 11-02</h4>
            <button name="nombre" value="Freddy" class="r"><img src="/public/fotos/Freddy Guardo 11-03 per.jpg" class="r"></button>
            <h4>Freddy Guardo 11-03</h4>
            <button name="nombre" value="Blanco" class="r"><img src="/public/fotos/Blanco.jpeg" class="r"></button>
            <h4>Voto en Blanco</h4>
        </div>
        <br>
    </div>
    <div id="consejo" style="background-image:url('/public/fondo1.png');">
            <form action="/consejo3" method="POST">
            <table style="width: 100%;height: 90vh;">
                <h1 style="text-align: center">CONSEJO ESTUDIANTIL</h1>
                <thead style="align-self: center; text-align: center;">
               </thead>
                <tbody>
                  <tr style="text-align: center; align-items: center;">
                    <td>3</td>
                    <td><button name="nombre" value="Dorlan" class="rep"><img src="/public/fotos/Monte Carlos/Dorlan_Saul_Lopez_Santana_301.jpeg" class="rep2" ></button></td>
                    <td><button name="nombre" value="Yargelis" class="rep"><img src="/public/fotos/Monte Carlos/YARGELIS MEZA NARVAEZ, REPRESENTANTE DEL GRADO 3° 02  JORNADA  PM.jpeg" class="rep2" ></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Dorlan Saul 3-01</td><td>Yargelis 3-02</td></tr>
                    </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>4</td>
                    <td><button name="nombre" value="Paula" class="rep"><img src="/public/fotos/Monte Carlos/Paula Andrea Cardosis Cardona-4º01- AM.jpeg" class="rep2"></button></td>
                    <td><button name="nombre" value="Jose Angel" class="rep"><img src="/public/fotos/Monte Carlos/JOSÉ ÁNGEL PAYARES SANTANA  DEL GRADO 4° 01 JORNADA PM.jpeg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Paula Andrea 4-01 a.m.</td><td>Jose Angel 4-01 p.m.</td></tr>    
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>5</td>
                    <td><button name="nombre" value="Madelyn" class="rep"><img src="/public/fotos/Monte Carlos/Madelyn Castilla Mendoza-5º01-AM.jpeg" class="rep2"></button></td>
                    <td><button name="nombre" value="Maria Jose" class="rep"><img src="/public/fotos/Monte Carlos/Maria Jose Barrios Velasquez-5º02- AM.jpeg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Madelyn 5-01</td><td>Maria Jose 5-02</td></tr>    
                </tr>
                
            </tbody>
        </table>
    </form>
    </div>
</div>
<script>
    let boton = document.getElementsByClassName("r")
    const req = new XMLHttpRequest()
   boton[0].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=paola");
 window.location.href = "#consejo";
    })
boton[2].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=karla");
 window.location.href = "#consejo";
    })
    boton[4].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=freddy");
 window.location.href = "#consejo";
    });
boton[6].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
    req.open("POST", "/registrar");
    req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
    req.send("nombre=Blanco");
    window.location.href = "#consejo";
    });
let audio= new Audio()
    audio.src = "/Public/Publico.mp3"
    audio.play()

</script>
</body>