<%-include('plantilla/sedes.ejs', {Titulo: 'Sede Las Delicias'}); %>
<link rel="shortcut icon" href="/public/globo.gif" type="image/x-icon">
<style>
    .r{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
       
    }
    .rep{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        }
        .rep2{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
                  
    </style>
<body>
    <div class="container-fluid">
        <div class="abs-center" id="ir" >
                <div style="align-self: center"  >
                <h1  style="text-align: center" >PERSONERIA</h1>
                <button name="nombre" value="helena" class="r" ><img src="https://ibb.co/gVkqLwJ" class="r"></button> 
                <h4>Helena Perez Fuentes 11-01</h4> 
                <button name="nombre" value="mariaS" class="r"><img src="https://ibb.co/W0qG4ck" class="r"></button>
                <h4>Maria Julieth Soto 11-02</h4>
                <button name="nombre" value="mariaP" class="r"><img src="https://ibb.co/3kNDRvB" class="r"></button>
                <h4>Maria Jose Pacheco 11-03</h4>
            </div>
            <br>
        </div>
        <div id="consejo">
            <form action="/consejo2" method="POST">
            <table style="width: 100%;height: 90vh;">
                <h1 style="text-align: center">CONSEJO ESTUDIANTIL</h1>
                <thead style="align-self: center; text-align: center;">
               </thead>
                <tbody>
                  <tr style="text-align: center; align-items: center;">
                    <td>3</td>
                    <td><button name="nombre" value="Valery" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/VALERY SOFIA HERNANDEZ HERNANDEZ 3º_01 am Las  Delicias.jpg" class="rep2" ></button></td>
                    <td><button name="nombre" value="Adriana" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/YEPEZ SANTOS  ADRIANA SOFIA 3º_01 Las Delicias.jpg" class="rep2" ></button></td>
                    <td><button name="nombre" value="Daniela" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/DANIELA SOFIA BATISTA VERGARA 3º-02 Las Delicias..jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Briana" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/BRIANA MIRANDA PEREZ 3º_02 Las Delicias.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Valery</td><td>Adriana</td><td>Daniela</td><td>Briana</td></tr>
                    </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>4</td>
                    <td><button name="nombre" value="Madeleine" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/MADELEINE VANEGAS CASRO 4º_01 Las Delicias.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Natalia" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/NATALIA CAMILA RODRIGUEZ BORJA 4º_02 am Las Delicias.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Pamela" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/PAMELA ESTELA VIDES GERMAN 4º-03 a.m Las Delicias.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Mdeleine</td><td>Natalia</td><td>Pamela</td></tr>    
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>5</td>
                    <td><button name="nombre" value="Edianyelis" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/EDIANYELIS CARRILLO SANTOYA 5º_01 Las Delicias.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Sharoly" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/SHAROLY  RODRIGUEZ BLANCO 5º_02 Las Delicias.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Keider" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/KEIDER JOSE RODRIGUEZ JULIO 5º_03 Las Delicias.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Edianyelis</td><td>Sharoly</td><td>Keider</td></tr>    
                </tr>
                
            </tbody>
        </table>
    </form>
 </div>
    </div>
<script>
    let boton = document.getElementsByClassName("r")
    const req = new XMLHttpRequest()
   boton[0].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=helena");
 window.location.href = "#consejo";
    })
boton[4].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=mariaP");
 window.location.href = "#consejo";
    })
    boton[2].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=mariaS");
 window.location.href = "#consejo";
    })
let audio= new Audio()
    audio.src = "/Public/Publico.mp3"
    audio.play()

</script>
</body>
