<%-include('plantilla/sedes.ejs', {Titulo: 'Sede Las Delicias'}); %>
<link rel="shortcut icon" href="/public/globo.gif" type="image/x-icon">
<style>
    .r{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
       
    }
    .rep{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        }
        .rep2{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
                  
    </style>
<body>
    <div class="container-fluid">
        <div class="abs-center" id="ir">
            <div style="align-self: center"  >
            <h1  style="text-align: center" >PERSONERÍA</h1>
            <button name="nombre" value="paola" class="r" ><img src="/public/fotos/Paola Andrea Sierra11-01 per.jpg" class="r"></button> 
            <h4>Paola Andrea Sierra 11-01</h4> 
            <button name="nombre" value="karla" class="r"><img src="/public/fotos/Karla Buelvas 11-02 per.jpg" class="r"></button>
            <h4>Karla Buelvas 11-02</h4>
            <button name="nombre" value="Freddy" class="r"><img src="/public/fotos/Freddy Guardo 11-03 per.jpg" class="r"></button>
            <h4>Freddy Guardo 11-03</h4>
            <button name="nombre" value="Blanco" class="r"><img src="/public/fotos/Blanco.jpeg" class="r"></button>
            <h4>Voto en Blanco</h4>
        </div>
        <br>
    </div>
        <div id="consejo" style="background-image:url('/public/fondo1.png');">
            <form action="/consejo2" method="POST">
            <table style="width: 100%;height: 90vh;">
                <h1 style="text-align: center">CONSEJO ESTUDIANTIL</h1>
                <thead style="align-self: center; text-align: center;">
               </thead>
                <tbody>
                  <tr style="text-align: center; align-items: center;">
                    <td>3</td>
                    <td><button name="nombre" value="Antonella" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/ANTONELLA PLATA BLANCO 3_01 A.M.jpg" class="rep2" ></button></td>
                    <td><button name="nombre" value="Adriana" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/ADRIANA SOFÍA ORTIZ URRUCHURTO  3º_01 P.M.jpg" class="rep2" ></button></td>
                    <td><button name="nombre" value="Dainis" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/DAINIS LUIS OROZCO VERGARA  3º_02 M.P..jpg" class="rep2"></button></td>
                    <!--<td><button name="nombre" value="Briana" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/BRIANA MIRANDA PEREZ 3º_02 Las Delicias.jpg" class="rep2"></button></td><-->
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Antonella 3-01 a.m</td><td>Adriana Sofia 3-01 p.m</td><td>Dainis Luis 3-02</td></tr>
                    </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>4</td>
                    <td><button name="nombre" value="Rossi" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/ROSSI ANYELI  JULIO VASQUEZ 4º_01 A.M..jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Isabella" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/ISABELLA BARRIENTOS ALDANA 4º_02 A.M..jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Maria Camila" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/MARIA CAMILA MURILLO SILGADO 4º_03 A.M..jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Rossi Anyeli 4-01</td><td>Isabella 4-02</td><td>Maria Camila 4-03</td></tr>    
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>5</td>
                    <td><button name="nombre" value="Valentina" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/VALENTINA ALVARADO  BARRIOS  5º_01 A.M..jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Pamela" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/PAMELA ESTELLA VIDES GERMAN  5º_02 A.M.jpg" class="rep2"></button></td>
                    <!--<td><button name="nombre" value="Keider" class="rep"><img src="/public/fotos/Fotos_sede_Las_Delicias/KEIDER JOSE RODRIGUEZ JULIO 5º_03 Las Delicias.jpg" class="rep2"></button></td><-->
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Valentina 5-01 a.m</td><td>Pamela Estella 5-02 a.m</td></tr>    
                </tr>
                
            </tbody>
        </table>
    </form>
 </div>
    </div>
<script>
    let boton = document.getElementsByClassName("r")
    const req = new XMLHttpRequest()
   boton[0].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=paola");
 window.location.href = "#consejo";
    })
boton[2].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=karla");
 window.location.href = "#consejo";
    })
    boton[4].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
req.open("POST", "/registrar");
req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
req.send("nombre=freddy");
 window.location.href = "#consejo";
    });
boton[6].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
    req.open("POST", "/registrar");
    req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
    req.send("nombre=Blanco");
    window.location.href = "#consejo";
    });
let audio= new Audio()
    audio.src = "/Public/Publico.mp3"
    audio.play()

</script>
</body>
