<%-include('plantilla/sedes.ejs', {Titulo: 'Sede Principal'}); %>
<link rel="shortcut icon" href="/public/globo.gif" type="image/x-icon">
<style>
    .r{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    .rep{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        }
        .rep2{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
        </style>
<body>
    <div class="container-fluid">
        <div class="abs-center" id="ir"  style="background-image:url('/public/fondo2.png');width: 100%;">
                <div style="align-self: center"  >
                <h1  style="text-align: center" >PERSONERÍA</h1>
                <button name="nombre" value="paola" class="r" ><img src="/public/fotos/Paola Andrea Sierra11-01 per.jpg" class="r"></button> 
                <h4>Paola Andrea Sierra 11-01</h4> 
                <button name="nombre" value="karla" class="r"><img src="/public/fotos/Karla Buelvas 11-02 per.jpg" class="r"></button>
                <h4>Karla Buelvas 11-02</h4>
                <button name="nombre" value="Freddy" class="r"><img src="/public/fotos/Freddy Guardo 11-03 per.jpg" class="r"></button>
                <h4>Freddy Guardo 11-03</h4>
            </div>
            <br>
        </div>
        <div id="consejo" style="background-image:url('/public/fondo1.png');">
            <form action="/consejo" method="POST">
            <table style="width: 100%;height: 90vh;">
                <h1 style="text-align: center">CONSEJO ESTUDIANTIL</h1>
                <thead style="align-self: center; text-align: center;">
               </thead>
                <tbody>
                  <tr style="text-align: center; align-items: center;">
                    <td>6</td>
                    <td><button name="nombre" value="Ana" class="rep"><img src="/public/fotos/Ana Sofia montalvo 6-01.jpg" class="rep2" ></button></td>
                    <td><button name="nombre" value="Nicole" class="rep"><img src="/public/fotos/Nicole Andrea Villadiego 6-02.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Isabel" class="rep"><img src="/public/fotos/Isabel Cristina Silva 6-03.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Camila" class="rep"><img src="/public/fotos/Camila María Mangones 6-04.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Yulianis" class="rep"><img src="/public/fotos/Yuliani Valeria Herrera 6-05.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td> <td>Ana Sofia 6-01</td><td>Nicole 6-02</td><td>Isabel 6-03</td><td>Camila 6-04</td><td>Yulianis 6-05<td></td></td></tr>
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>7</td>
                    <td><button name="nombre" value="IsabelaR" class="rep"><img src="/public/fotos/Isabella Rodríguez 7-01.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Maria Camila" class="rep"><img src="/public/fotos/María Camila Contreras 7-02.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Marisol Murcia" class="rep"><img src="/public/fotos/Marisol Murcia 7-03.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Marisol Quiroz" class="rep"><img src="/public/fotos/Marisol Quiroz 7-04.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td><td>Isabella 7-01</td><td>Maria 7-02</td><td>Marisol Murcia 7-03</td><td>Marisol Quiroz 7-04</td></tr>
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>8</td>
                    <td><button name="nombre" value="Mari Luna" class="rep"><img src="/public/fotos/Mary Luna Tapias 8-01.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Jesus" class="rep"><img src="/public/fotos/Jesús Guerra 8-02.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Jose David" class="rep"><img src="/public/fotos/José David Rodríguez 8-03.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Arlis" class="rep"><img src="/public/fotos/Arlis Julieth Torres 8-04.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td><td>Mari luna 8-01</td><td>Jesus 8-02</td><td>Jose David 8-03</td><td>Arlis 8-04</td></tr>
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>9</td>
                    <td><button name="nombre" value="Luz Angela" class="rep"><img src="/public/fotos/Luz Angela Marquez 9-01.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Ingrid" class="rep"><img src="/public/fotos/Ingrid Puello 9-02.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Lina" class="rep"><img src="/public/fotos/Lina Marcela Olivera 9-03.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Judith" class="rep"><img src="/public/fotos/Judith Flórez 9-04.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td><td>Luz Angela 9-01</td><td>Ingrid 9-02</td><td>Lina 9-03</td><td>Judith 9-04</td></tr>
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>10</td>
                    <td><button name="nombre" value="Pedro" class="rep"><img src="/public/fotos/Pedro Vásquez 10-01.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Thalia" class="rep"><img src="/public/fotos/Thalía Zapata 10-02.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Letzy" class="rep"><img src="/public/fotos/Letzy Juliana Ochoa 10-03.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td><td>Pedro 10-01</td><td>Thalia 10-02</td><td>Letzy 10-03</td></tr>
                </tr>
                <tr style="text-align: center; align-items: center;">
                    <td>11</td>
                    <td><button name="nombre" value="Ronald" class="rep"><img src="/public/fotos/Ronald Herrera 11-01.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Samantha" class="rep"><img src="/public/fotos/Samantha Fuentes 11-02.jpg" class="rep2"></button></td>
                    <td><button name="nombre" value="Ana Milena" class="rep"><img src="/public/fotos/Ana Milena Muñoz 11-03.jpg" class="rep2"></button></td>
                    <tr style="text-align: center; align-items: center;"><td></td><td>Ronald 11-01</td><td>Samantha 11-02</td><td>Ana Milena 11-03</td></tr>
                </tr>
            </tbody>
        </table>
    </form>
 </div>
    </div>
<script>
let boton = document.querySelectorAll(".r")
const req = new XMLHttpRequest()
boton[0].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
    req.open("POST", "/registrar");
    req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
    req.send("nombre=paola");
    window.location.href = "#consejo";
    })
boton[2].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
    req.open("POST", "/registrar");
    req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
    req.send("nombre=karla");
    window.location.href = "#consejo";
    });
boton[4].addEventListener("click",(e)=>{
    const req = new XMLHttpRequest();
    req.addEventListener("load", ()=>{
    });
    req.open("POST", "/registrar");
    req.setRequestHeader("Content-Type"," application/x-www-form-urlencoded")
    req.send("nombre=freddy");
    window.location.href = "#consejo";
    });
let audio= new Audio()
    audio.src = "/Public/Publico.mp3"
    audio.play()

</script>
</body>
